* {
    margin: 0;
    padding: 0;
}

body {
    background: #EEEEEF;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.nav1 {
    background: #6D91DC;
    display: flex;
    height: 72px;
    padding: 16px 52px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #f8fdfe;
    font-family: 'Rochester';
    font-size: 28px;
    font-weight: 400;
}

.nav-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #f8fdfe;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-basket {
    width: 40px;
    height: 40px;
    background: #6D91DC;
    border: #6D91DC;
    position: relative;
    top: 5px;
}

.basket2 {
    position: relative;
    left: 0;
    bottom: 36px;

}


.btn-basket span {
    color: #f8fdfe;
    display: flex;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    top: 8px;
    left: 18px;
}

.nav2 {
    display: flex;
    padding: 4px 52px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #FFF;
    font-family: Cabin;
}

.nav2 span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.nav2 ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav2 a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

main {
    font-family: 'Cabin';
}

.title {
    padding: 130px 0 23px;
    font-size: 32px;
    font-weight: 400px;
    line-height: 40px;
    border-bottom: 1px solid #a8a8aa;
    margin: 0 52px 0 52px;
}

form {
    display: flex;
    justify-content: space-between;
}

.left-conteiner {
    padding: 56px 0 100px 162px;
}

.title-contact {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;

}

.delivery-adress {
    margin-bottom: 8px;
}

.confirm-order {
    margin-bottom: 3px;
}

.contact-details {
    width: 416px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

}

.contact-details label {
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.input-reset {
    position: absolute;
    top: 32px;
    right: 10px;
    visibility: hidden;

}

.contact-details:focus-within .input-reset {
    visibility: visible;
}

.contact-details-textarea {
    gap: 0;

}

.contact-details input,
.contact-details textarea {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    caret-color: #8E8E8E;
    resize: none;
    font-family: 'Cabin', sans-serif;

}

.contact-details input:focus,
.contact-details textarea:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;

}

.contact-details ::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    line-height: 24px;

}

.date-container {
    margin-bottom: 34px;
}

.date-container input {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    font-size: 16px;
    line-height: 24px;

}

.date-container label {
    font-size: 16px;
    line-height: 24px;

}

.callback {
    color: #8E8E8E;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.metod-paymed {
    margin: 32px 0 24px;
}

.radio-btn-payment {
    margin-bottom: 121px;

}


.radio-btn-container label {
    font-size: 16px;
    line-height: 24px;
    margin-left: 4px;

}

.right-form {
    width: 526px;
    height: 456px;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    right: 162px;
    top: 56px;

}

.your-order {
    margin-bottom: 32px;
}

.img-sashimi {
    width: 165px;
    height: 120px;

}

.right-form-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 42px;

}

.order {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.order-pack {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    color: #1F1F1F;
}

.portions {
    color: #8E8E8E;
    border-top: 1px solid #A8A8A8;

}

.order span {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    padding: 4px 8px;
    box-sizing: border-box;
    width: 53px;
    text-align: center;

}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    width: 86px;

}

.price-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #A8A8A8;
    padding-top: 8px;
    box-sizing: border-box;
    margin-bottom: 32px;

}

.price-total p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1F1F1F;

}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;

}

.btn {
    border-radius: 4px;
    background: #3D76BA;
    padding: 8px 24px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    min-width: 215px;
    color: #F8FDFE;
    margin-top: 16px;

}

.btn:hover {
    background: #63A1EB;
}

.btn-reset {
    color: #1F1F1F;
    background: #DEDEDE;

}

.btn-reset:hover {
    background: #EEE;
}

footer {
    background: #6D91DC;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-wrapper span {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}